<!DOCTYPE html>
<html lang="en">

<head>
<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<meta name="keywords" content="MediaCenter, Template, eCommerce">
<meta name="robots" content="all">
<title>Marazzo premium HTML5 & CSS3 Template</title>

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="static/assets/css/bootstrap.min.css">

<!-- Customizable CSS -->
<link rel="stylesheet" href="static/assets/css/main.css">
<link rel="stylesheet" href="static/assets/css/blue.css">
<link rel="stylesheet" href="static/assets/css/owl.carousel.css">
<link rel="stylesheet" href="static/assets/css/owl.transitions.css">
<link rel="stylesheet" href="static/assets/css/animate.min.css">
<link rel="stylesheet" href="static/assets/css/rateit.css">
<link rel="stylesheet" href="static/assets/css/bootstrap-select.min.css">

<!-- Icons/Glyphs -->
<link rel="stylesheet" href="static/assets/css/font-awesome.css">

<!-- Fonts -->
<link href="static/https://fonts.googleapis.com/css?family=Barlow:200,300,300i,400,400i,500,500i,600,700,800" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<style>
    .profile-box{
      background:#0099ff;
      text-align: center;position: relative;color:#fff ;
      padding:40px 90px; border-radius:20px ;
    }
    .containe{
      display: flex;background-size:cover ; background-position:center ;
      align-items: center;
      justify-content: left;width:100%;height:100vh;
    }
    .setting-icon{
      position: absolute;
      width:35px;
      left:40px;
      top:40px;
    }
    .setting-icon2{
      position: absolute;
      width:35px;
      right:40px;
      top:40px;
    }
    .profile-pic{
      
      border-radius:100% ;
      background: #fff;
      padding:6px;
    }
  </style>
</head>
<body class="cnt-home">
<!-- ============================================== HEADER ============================================== -->
<header class="header-style-1"> 
  
  <!-- ============================================== TOP MENU ============================================== -->
  <div class="top-bar animate-dropdown">
    <div class="container">
      <div class="header-top-inner">
        <div class="cnt-account">
          <ul class="list-unstyled">
            <li class="myaccount"><a href="static/#"><span>My Account</span></a></li>
            <li class="wishlist"><a href="static/#"><span>Wishlist</span></a></li>
            <li class="header_cart hidden-xs"><a href="static/#"><span>My Cart</span></a></li>
            <li class="check"><a href="static/#"><span>Checkout</span></a></span></li>
            <li class="login"><a href="logout"><span>Logout</span></a></li>
          </ul>
        </div>
        <!-- /.cnt-account -->
        
        <div class="cnt-block">
          <ul class="list-unstyled list-inline">
            <li class="dropdown dropdown-small"> <a href="static/#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span class="value">USD </span><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="static/#">USD</a></li>
                <li><a href="static/#">INR</a></li>
                <li><a href="static/#">GBP</a></li>
              </ul>
            </li>
            <li class="dropdown dropdown-small"> <a href="static/#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span class="value">English </span><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="static/#">English</a></li>
                <li><a href="static/#">French</a></li>
                <li><a href="static/#">German</a></li>
              </ul>
            </li>
          </ul>
          <!-- /.list-unstyled --> 
        </div>
        <!-- /.cnt-cart -->
        <div class="clearfix"></div>
      </div>
      <!-- /.header-top-inner --> 
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.header-top --> 
  <!-- ============================================== TOP MENU : END ============================================== -->
  <div class="main-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 logo-holder"> 
          <!-- ============================================================= LOGO ============================================================= -->
          <div class="logo"> <a href="static/home.html"> <img src="static/assets/images/logo.png" alt="logo"> </a> </div>
          <!-- /.logo --> 
          <!-- ============================================================= LOGO : END ============================================================= --> </div>
        <!-- /.logo-holder -->
        
            <!-- /.dropdown-menu--> 
          </div>
          <!-- /.dropdown-cart --> 
          
          <!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= --> </div>
        <!-- /.top-cart-row --> 
      </div>
      <!-- /.row --> 
      
    </div>
    <!-- /.container --> 
    
  </div>
  <!-- /.main-header --> 
  
  <!-- ============================================== NAVBAR ============================================== -->
  <div class="header-nav animate-dropdown">
    <div class="container">
      <div class="yamm navbar navbar-default" role="navigation">
        <div class="navbar-header">
       <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> 
       <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="nav-bg-class">
          <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
            <div class="nav-outer">
              <ul class="nav navbar-nav">
                <li class="active dropdown"> <a href="staffhome" data-hover="dropdown">{{data1.1}}Home</a> </li>
                
                <li class="dropdown mega-menu"> 
                <a href="profile"  data-hover="dropdown" >Profile  </a>
   
                </li>
                <li class="dropdown hidden-sm"> <a href="zone" data-hover="dropdown">My Zone </a> </li>
                <li class="dropdown hidden-sm"> <a href="leave" data-hover="dropdown">Apply for Leave</a> </li>
                <li class="dropdown"> <a href="stflogout" data-hover="dropdown">Logout</a> </li>

                
                  <ul class="dropdown-menu pages">
                    <li>
                      <div class="yamm-content">
                        <div class="row">
                          <div class="col-xs-12 col-menu">
                            <ul class="links">
                              <li><a href="static/home.html">Home</a></li>
                              <li><a href="static/category.html">Category</a></li>
                              <li><a href="static/detail.html">Detail</a></li>
                              <li><a href="static/shopping-cart.html">Shopping Cart Summary</a></li>
                              <li><a href="static/checkout.html">Checkout</a></li>
                              <li><a href="static/blog.html">Blog</a></li>
                              <li><a href="static/blog-details.html">Blog Detail</a></li>
                              <li><a href="static/contact.html">Contact</a></li>
                              <li><a href="static/sign-in.html">Sign In</a></li>
                              <li><a href="static/my-wishlist.html">Wishlist</a></li>
                              <li><a href="static/terms-conditions.html">Terms and Condition</a></li>
                              <li><a href="static/track-orders.html">Track Orders</a></li>
                              <li><a href="static/product-comparison.html">Product-Comparison</a></li>
                              <li><a href="static/faq.html">FAQ</a></li>
                              <li><a href="static/404.html">404</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="dropdown  navbar-right special-menu"> <a href="static/#">Get 30% off on selected items</a> </li>
              </ul>
              <!-- /.navbar-nav -->
              <div class="clearfix"></div>
            </div>
            <!-- /.nav-outer --> 
          </div>
          <!-- /.navbar-collapse --> 
          
        </div>
        <!-- /.nav-bg-class --> 
      </div>
      <!-- /.navbar-default --> 
    </div>
    <!-- /.container-class --> 
    
  </div>
  <!-- /.header-nav --> 
  <!-- ============================================== NAVBAR : END ============================================== --> 
  
</header>
<!-- ============================================== HEADER : END ============================================== -->
<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="static/#">Home</a></li>
				<li class='active'>Apply for Leave</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->

<div class="body-content">
	<div class="container">
		<div class="terms-conditions-page">
			<div class="row">
				<div class="col-md-6">
	<h2 class="heading-title">Leave Request</h2>
    <form method="POST">
        {% csrf_token %}
        <div style="width:500px ;position:relative;left:3%;">
<fieldset>
<legend>TITLE</legend>
<div class="form-group">
<input  type="text" name="title" class="form-control" required>
</div>
</fieldset>
<fieldset>
<legend >Reason</legend>
<div class="form-group">
<input  type="text" name="reason" class="form-control" required>
</div>
</fieldset>
<fieldset>
<legend>Start Date</legend>
<div class="form-group">
<input type="date"  name="sdate" placeholder="8/23/2019" class="form-control" required>
</div>
</fieldset>
<fieldset>
<legend >End Date</legend>
<div class="form-group">
<input type="date" name="edate" placeholder="8/23/2019" class="form-control" required>
</div>
</fieldset>
<input class="btn btn-primary" type="submit" value="Submit" name="sub">
</div>
</form>
                </div>
                <h2 class="heading-title" style="position:relative;left:20px;" >Leave Details</h2>
                <div class="col-md-6">
<table style="width:90%;position:relative;left:20px;" border="3">

<tr>
<td>From Date</td><td>End Date</td><td>TITLE</td><td>Reason</td><td>Status</td>
</tr>
{% for i in data %}
<tr>

<td>{{i.4}}</td>
<td>{{i.5}}</td>
<td>{{i.2}}</td>
<td>{{i.3}}</td>

{% if i.6 == 0 %}
<td>Waiting </td>
{% elif i.6 == 1 %}
<td style="color:green;">Approved</td>
{% else %}
<td style="color:red;"> Denied</td>

{% endif %}
</tr>

{% endfor %}
</table>










	
</div>			</div><!-- /.row -->
		</div><!-- /.sigin-in-->
		<!-- ============================================== BRANDS CAROUSEL ============================================== -->
<div id="brands-carousel" class="logo-slider wow fadeInUp">

		<div class="logo-slider-inner">	
			<div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
				<div class="item m-t-15">
					<a href="static/#" class="image">
						<img data-echo="assets/images/brands/brand1.png" src="static/assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item m-t-10">
					<a href="static/#" class="image">
						<img data-echo="assets/images/brands/brand2.png" src="static/assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="static/#" class="image">
						<img data-echo="assets/images/brands/brand3.png" src="static/assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="static/#" class="image">
						<img data-echo="assets/images/brands/brand4.png" src="static/assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="static/#" class="image">
						<img data-echo="assets/images/brands/brand5.png" src="static/assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="static/#" class="image">
						<img data-echo="assets/images/brands/brand6.png" src="static/assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="static/#" class="image">
						<img data-echo="assets/images/brands/brand2.png" src="static/assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="static/#" class="image">
						<img data-echo="assets/images/brands/brand4.png" src="static/assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="static/#" class="image">
						<img data-echo="assets/images/brands/brand1.png" src="static/assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="static/#" class="image">
						<img data-echo="assets/images/brands/brand5.png" src="static/assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->
		    </div><!-- /.owl-carousel #logo-slider -->
		</div><!-- /.logo-slider-inner -->
	
</div><!-- /.logo-slider -->
<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->	</div><!-- /.container -->
</div><!-- /.body-content -->
<!-- ============================================================= FOOTER ============================================================= -->

        <!-- ============================================== INFO BOXES ============================================== -->
        <div class="row our-features-box">
     <div class="container">
      <ul>
        <li>
          <div class="feature-box">
            <div class="icon-truck"></div>
            <div class="content-blocks">We ship worldwide</div>
          </div>
        </li>
        <li>
          <div class="feature-box">
            <div class="icon-support"></div>
            <div class="content-blocks">call 
              +1 800 789 0000</div>
          </div>
        </li>
        <li>
          <div class="feature-box">
            <div class="icon-money"></div>
            <div class="content-blocks">Money Back Guarantee</div>
          </div>
        </li>
        <li>
          <div class="feature-box">
            <div class="icon-return"></div>
            <div class="content">30 days return</div>
          </div>
        </li>
        
      </ul>
    </div>
  </div>
        <!-- /.info-boxes --> 
        <!-- ============================================== INFO BOXES : END ============================================== --> 

<!-- ============================================================= FOOTER ============================================================= -->
<footer id="footer" class="footer color-bg">
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="address-block">
        
          <!-- /.module-heading -->
          
          <div class="module-body">
            <ul class="toggle-footer" >
              <li class="media">
                <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i> </span> </div>
                <div class="media-body">
                  <p>ThemesGround, 789 Main rd, Anytown, CA 12345 USA</p>
                </div>
              </li>
              <li class="media">
                <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-mobile fa-stack-1x fa-inverse"></i> </span> </div>
                <div class="media-body">
                  <p>+(888) 123-4567<br>
                    +(888) 456-7890</p>
                </div>
              </li>
              <li class="media">
                <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-envelope fa-stack-1x fa-inverse"></i> </span> </div>
                <div class="media-body"> <span><a href="static/#">marazzo@themesground.com</a></span> </div>
              </li>
            </ul>
          </div>
          </div>
          <!-- /.module-body --> 
        </div>
        <!-- /.col -->
        
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="module-heading">
            <h4 class="module-title">Customer Service</h4>
          </div>
          <!-- /.module-heading -->
          
          <div class="module-body">
            <ul class='list-unstyled'>
              <li class="first"><a href="static/#" title="Contact us">My Account</a></li>
              <li><a href="static/#" title="About us">Order History</a></li>
              <li><a href="static/#" title="faq">FAQ</a></li>
              <li><a href="static/#" title="Popular Searches">Specials</a></li>
              <li class="last"><a href="static/#" title="Where is my order?">Help Center</a></li>
            </ul>
          </div>
          <!-- /.module-body --> 
        </div>
        <!-- /.col -->
        
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="module-heading">
            <h4 class="module-title">Corporation</h4>
          </div>
          <!-- /.module-heading -->
          
          <div class="module-body">
            <ul class='list-unstyled'>
              <li class="first"><a title="Your Account" href="static/#">About us</a></li>
              <li><a title="Information" href="static/#">Customer Service</a></li>
              <li><a title="Addresses" href="static/#">Company</a></li>
              <li><a title="Addresses" href="static/#">Investor Relations</a></li>
              <li class="last"><a title="Orders History" href="static/#">Advanced Search</a></li>
            </ul>
          </div>
          <!-- /.module-body --> 
        </div>
        <!-- /.col -->
        
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="module-heading">
            <h4 class="module-title">Why Choose Us</h4>
          </div>
          <!-- /.module-heading -->
          
          <div class="module-body">
            <ul class='list-unstyled'>
              <li class="first"><a href="static/#" title="About us">Shopping Guide</a></li>
              <li><a href="static/#" title="Blog">Blog</a></li>
              <li><a href="static/#" title="Company">Company</a></li>
              <li><a href="static/#" title="Investor Relations">Investor Relations</a></li>
              <li class=" last"><a href="static/contact-us.html" title="Suppliers">Contact Us</a></li>
            </ul>
          </div>
          <!-- /.module-body --> 
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-bar">
    <div class="container">
      <div class="col-xs-12 col-sm-4 no-padding social">
        <ul class="link">
          <li class="fb pull-left"><a target="_blank" rel="nofollow" href="static/#" title="Facebook"></a></li>
          <li class="tw pull-left"><a target="_blank" rel="nofollow" href="static/#" title="Twitter"></a></li>
          <li class="googleplus pull-left"><a target="_blank" rel="nofollow" href="static/#" title="GooglePlus"></a></li>
          <li class="rss pull-left"><a target="_blank" rel="nofollow" href="static/#" title="RSS"></a></li>
          <li class="pintrest pull-left"><a target="_blank" rel="nofollow" href="static/#" title="PInterest"></a></li>
          <li class="linkedin pull-left"><a target="_blank" rel="nofollow" href="static/#" title="Linkedin"></a></li>
          <li class="youtube pull-left"><a target="_blank" rel="nofollow" href="static/#" title="Youtube"></a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 no-padding copyright"><a target="_blank" href="static/https://www.templateshub.net">Templates Hub</a> </div>
      <div class="col-xs-12 col-sm-4 no-padding">
        <div class="clearfix payment-methods">
          <ul>
            <li><img src="static/assets/images/payments/1.png" alt=""></li>
            <li><img src="static/assets/images/payments/2.png" alt=""></li>
            <li><img src="static/assets/images/payments/3.png" alt=""></li>
            <li><img src="static/assets/images/payments/4.png" alt=""></li>
            <li><img src="static/assets/images/payments/5.png" alt=""></li>
          </ul>
        </div>
        <!-- /.payment-methods --> 
      </div>
    </div>
  </div>
</footer>
<!-- ============================================================= FOOTER : END============================================================= --> 

<!-- For demo purposes – can be removed on production --> 

<!-- For demo purposes – can be removed on production : End --> 

<!-- JavaScripts placed at the end of the document so the pages load faster --> 
<script src="static/assets/js/jquery-1.11.1.min.js"></script> 
<script src="static/assets/js/bootstrap.min.js"></script> 
<script src="static/assets/js/bootstrap-hover-dropdown.min.js"></script> 
<script src="static/assets/js/owl.carousel.min.js"></script> 
<script src="static/assets/js/echo.min.js"></script> 
<script src="static/assets/js/jquery.easing-1.3.min.js"></script> 
<script src="static/assets/js/bootstrap-slider.min.js"></script> 
<script src="static/assets/js/jquery.rateit.min.js"></script> 
<script type="text/javascript" src="static/assets/js/lightbox.min.js"></script> 
<script src="static/assets/js/bootstrap-select.min.js"></script> 
<script src="static/assets/js/wow.min.js"></script> 
<script src="static/assets/js/scripts.js"></script>
</body>

</html>